<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    
    <log4net configSource="logs\log.config" />
  
    <appSettings>
        <add key="EDIJSON_SECURITY_HTTPS" value="false"/>
        <add key="EDIJSON_SECURITY_USERNAME" value="n0v4t1"/>
        <add key="EDIJSON_SECURITY_PASSWORD" value="aa389a8231c5370ab0c38e9fd4e0d17a"/>
        <add key="EDIJSON_DATABASE_HOST" value="ULTRABOOK\SQLSERVER"/>
        <add key="EDIJSON_DATABASE_NAME" value="webtracking"/>
        <add key="EDIJSON_DATABASE_USERNAME" value="sa"/>
        <add key="EDIJSON_DATABASE_PASSWORD" value="s@"/>
        <add key="EDIJSON_DATABASE_SCHEMA" value="edijson"/>
        <add key="EDIJSON_DATABASE_EXCLUDED_SCHEMAS" value="dbo"/>
        <add key="EDIJSON_DATABASE_IDENTITY_FIELD" value="id"/>
        <add key="EDIJSON_DATABASE_CONTROL_FIELD" value="_"/>
        <add key="EDIJSON_DATABASE_DELETED_FIELD" value="_deleted"/>
        <add key="EDIJSON_DATABASE_ORDER_FIELD" value="_order"/>
        <add key="EDIJSON_SMTP_HOST" value="" />
        <add key="EDIJSON_SMTP_PORT" value="25" />
        <add key="EDIJSON_SMTP_USERNAME" value="" />
        <add key="EDIJSON_SMTP_PASSWORD" value="" />
        <add key="EDIJSON_SMTP_FROM" value="webtracking@novati.it" />
        
    </appSettings>

    <connectionStrings />  
  
    <system.web>
        <!--httpRuntime maxRequestLength="102400" executionTimeout="10000" requestValidationMode="2.0" /-->
        <pages validateRequest="false" />
        <compilation debug="true" />
        <httpHandlers>
            <add verb="*" path="/edijson/*" type="Edijson.Rest,Edijson" validate="false" />
        </httpHandlers>
    </system.web>
    
    <system.webServer>
        <handlers>
            <add name="edijson" path="/edijson/*" verb="*" type="Edijson.Rest,Edijson" preCondition="integratedMode"/>
        </handlers>
        <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
  
</configuration>
