USE [master]
GO
/****** Object:  Database [webtracking]    Script Date: 11/19/2013 00:22:41 ******/
CREATE DATABASE [webtracking] ON  PRIMARY 
( NAME = N'webtracking', FILENAME = N'D:\databases\sqlserver\webtracking.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'webtracking_log', FILENAME = N'D:\databases\sqlserver\webtracking_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webtracking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webtracking]
GO
/****** Object:  Schema [tracking]    Script Date: 11/19/2013 00:22:41 ******/
CREATE SCHEMA [tracking] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [profiling]    Script Date: 11/19/2013 00:22:41 ******/
CREATE SCHEMA [profiling] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [edijson]    Script Date: 11/19/2013 00:22:41 ******/
CREATE SCHEMA [edijson] AUTHORIZATION [dbo]
GO
/****** Object:  Table [profiling].[profiles]    Script Date: 11/19/2013 00:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [profiling].[profiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[_deleted] [tinyint] NOT NULL,
 CONSTRAINT [PK_groups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [tracking].[shipments]    Script Date: 11/19/2013 00:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tracking].[shipments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[key_shipment] [varchar](30) NOT NULL,
	[date_shipment] [date] NOT NULL,
	[code_customer] [char](6) NOT NULL,
	[business_name_customer] [varchar](35) NOT NULL,
	[city_customer] [varchar](35) NOT NULL,
	[contry_customer] [varchar](6) NOT NULL,
	[code_sender] [char](6) NOT NULL,
	[business_name_sender] [varchar](35) NOT NULL,
	[city_sender] [varchar](35) NOT NULL,
	[country_sender] [varchar](6) NOT NULL,
	[code_consignee] [char](6) NOT NULL,
	[business_name_consignee] [varchar](35) NOT NULL,
	[city_consignee] [varchar](35) NOT NULL,
	[country_consignee] [varchar](6) NOT NULL,
	[weigth] [numeric](17, 4) NOT NULL,
	[package] [numeric](7, 0) NOT NULL,
	[volume] [numeric](9, 2) NOT NULL,
	[date_result] [numeric](8, 0) NOT NULL,
	[type_result] [char](3) NOT NULL,
	[insert_date] [date] NOT NULL,
	[update_date] [date] NOT NULL,
	[_deleted] [tinyint] NOT NULL,
 CONSTRAINT [PK_shipments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [profiling].[users]    Script Date: 11/19/2013 00:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [profiling].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_profile] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[cube_code] [int] NOT NULL,
	[name] [varchar](200) NULL,
	[surname] [varchar](200) NULL,
	[_deleted] [tinyint] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [edijson].[tracking_shipments]    Script Date: 11/19/2013 00:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [edijson].[tracking_shipments] 
@@ACTION varchar(10) = NULL,
@@PHYSICAL tinyint = 0,
@id int = NULL,
@key_shipment varchar(30) = NULL,
@date_shipment date = NULL,
@code_customer char(6) = NULL,
@business_name_customer varchar(35) = NULL,
@city_customer varchar(35) = NULL,
@contry_customer varchar(6) = NULL,
@code_sender char(6) = NULL,
@business_name_sender varchar(35) = NULL,
@city_sender varchar(35) = NULL,
@country_sender varchar(6) = NULL,
@code_consignee char(6) = NULL,
@business_name_consignee varchar(35) = NULL,
@city_consignee varchar(35) = NULL,
@country_consignee varchar(6) = NULL,
@weigth numeric = NULL,
@package numeric = NULL,
@volume numeric = NULL,
@date_result numeric = NULL,
@type_result char(3) = NULL,
@insert_date date = NULL,
@update_date date = NULL
AS BEGIN 
SET NOCOUNT ON; 

IF @@ACTION = 'SELECT' BEGIN
SELECT 
id,key_shipment,date_shipment,code_customer,business_name_customer,city_customer,contry_customer,code_sender,business_name_sender,city_sender,country_sender,code_consignee,business_name_consignee,city_consignee,country_consignee,weigth,package,volume,date_result,type_result,insert_date,update_date
FROM tracking.shipments
 WHERE 1=1 
AND (id = @id OR @id IS NULL) 
AND (key_shipment = @key_shipment OR @key_shipment IS NULL) 
AND (date_shipment = @date_shipment OR @date_shipment IS NULL) 
AND (code_customer = @code_customer OR @code_customer IS NULL) 
AND (business_name_customer = @business_name_customer OR @business_name_customer IS NULL) 
AND (city_customer = @city_customer OR @city_customer IS NULL) 
AND (contry_customer = @contry_customer OR @contry_customer IS NULL) 
AND (code_sender = @code_sender OR @code_sender IS NULL) 
AND (business_name_sender = @business_name_sender OR @business_name_sender IS NULL) 
AND (city_sender = @city_sender OR @city_sender IS NULL) 
AND (country_sender = @country_sender OR @country_sender IS NULL) 
AND (code_consignee = @code_consignee OR @code_consignee IS NULL) 
AND (business_name_consignee = @business_name_consignee OR @business_name_consignee IS NULL) 
AND (city_consignee = @city_consignee OR @city_consignee IS NULL) 
AND (country_consignee = @country_consignee OR @country_consignee IS NULL) 
AND (weigth = @weigth OR @weigth IS NULL) 
AND (package = @package OR @package IS NULL) 
AND (volume = @volume OR @volume IS NULL) 
AND (date_result = @date_result OR @date_result IS NULL) 
AND (type_result = @type_result OR @type_result IS NULL) 
AND (insert_date = @insert_date OR @insert_date IS NULL) 
AND (update_date = @update_date OR @update_date IS NULL) 
AND _deleted = 0 
ORDER BY id ASC 
END

ELSE IF @@ACTION = 'INSERT' BEGIN
INSERT INTO [tracking].[shipments] (key_shipment,date_shipment,code_customer,business_name_customer,city_customer,contry_customer,code_sender,business_name_sender,city_sender,country_sender,code_consignee,business_name_consignee,city_consignee,country_consignee,weigth,package,volume,date_result,type_result,insert_date,update_date) 
OUTPUT INSERTED.id
VALUES (@key_shipment,@date_shipment,@code_customer,@business_name_customer,@city_customer,@contry_customer,@code_sender,@business_name_sender,@city_sender,@country_sender,@code_consignee,@business_name_consignee,@city_consignee,@country_consignee,@weigth,@package,@volume,@date_result,@type_result,@insert_date,@update_date)
END

ELSE IF @@ACTION = 'UPDATE' BEGIN
UPDATE [tracking].[shipments] SET 
key_shipment = @key_shipment,
date_shipment = @date_shipment,
code_customer = @code_customer,
business_name_customer = @business_name_customer,
city_customer = @city_customer,
contry_customer = @contry_customer,
code_sender = @code_sender,
business_name_sender = @business_name_sender,
city_sender = @city_sender,
country_sender = @country_sender,
code_consignee = @code_consignee,
business_name_consignee = @business_name_consignee,
city_consignee = @city_consignee,
country_consignee = @country_consignee,
weigth = @weigth,
package = @package,
volume = @volume,
date_result = @date_result,
type_result = @type_result,
insert_date = @insert_date,
update_date = @update_date
OUTPUT INSERTED.id
WHERE tracking.shipments.id = @id
END 

ELSE IF @@ACTION = 'DELETE' AND @@PHYSICAL = 0 BEGIN
UPDATE [tracking].[shipments] SET _deleted = 1 
OUTPUT INSERTED.id
WHERE tracking.shipments.id = @id
END 

ELSE IF @@ACTION = 'DELETE' AND @@PHYSICAL = 1 BEGIN
DELETE FROM [tracking].[shipments] 
OUTPUT DELETED.id
WHERE tracking.shipments.id= @id
END 

END
GO
/****** Object:  StoredProcedure [edijson].[profiling_profiles]    Script Date: 11/19/2013 00:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [edijson].[profiling_profiles] 
@@ACTION varchar(10) = NULL,
@@PHYSICAL tinyint = 0,
@id int = NULL,
@name varchar(50) = NULL
AS BEGIN 
SET NOCOUNT ON; 

IF @@ACTION = 'SELECT' BEGIN
SELECT 
id,name
FROM profiling.profiles
 WHERE 1=1 
AND (id = @id OR @id IS NULL) 
AND (name = @name OR @name IS NULL) 
AND _deleted = 0 
ORDER BY id ASC 
END

ELSE IF @@ACTION = 'INSERT' BEGIN
INSERT INTO [profiling].[profiles] (name) 
OUTPUT INSERTED.id
VALUES (@name)
END

ELSE IF @@ACTION = 'UPDATE' BEGIN
UPDATE [profiling].[profiles] SET 
name = @name
OUTPUT INSERTED.id
WHERE profiling.profiles.id = @id
END 

ELSE IF @@ACTION = 'DELETE' AND @@PHYSICAL = 0 BEGIN
UPDATE [profiling].[profiles] SET _deleted = 1 
OUTPUT INSERTED.id
WHERE profiling.profiles.id = @id
END 

ELSE IF @@ACTION = 'DELETE' AND @@PHYSICAL = 1 BEGIN
DELETE FROM [profiling].[profiles] 
OUTPUT DELETED.id
WHERE profiling.profiles.id= @id
END 

END
GO
/****** Object:  View [profiling].[accounts]    Script Date: 11/19/2013 00:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [profiling].[accounts]
AS
SELECT     profiling.profiles.name AS profile, profiling.users.id, profiling.users.id_profile, profiling.users.username, profiling.users.password, profiling.users.email, 
                      profiling.users.cube_code, profiling.users.name, profiling.users.surname
FROM         profiling.profiles INNER JOIN
                      profiling.users ON profiling.profiles.id = profiling.users.id_profile
WHERE     (profiling.users._deleted = 0) AND (profiling.profiles._deleted = 0)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[58] 4[3] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "users (profiling)"
            Begin Extent = 
               Top = 6
               Left = 259
               Bottom = 146
               Right = 500
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "profiles (profiling)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 110
               Right = 221
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'profiling', @level1type=N'VIEW',@level1name=N'accounts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'profiling', @level1type=N'VIEW',@level1name=N'accounts'
GO
/****** Object:  StoredProcedure [edijson].[profiling_users]    Script Date: 11/19/2013 00:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [edijson].[profiling_users] 
@@ACTION varchar(10) = NULL,
@@PHYSICAL tinyint = 0,
@id int = NULL,
@id_profile int = NULL,
@username varchar(50) = NULL,
@password varchar(50) = NULL,
@email varchar(150) = NULL,
@cube_code int = NULL,
@name varchar(200) = NULL,
@surname varchar(200) = NULL
AS BEGIN 
SET NOCOUNT ON; 

IF @@ACTION = 'SELECT' BEGIN
SELECT 
id,id_profile,username,password,email,cube_code,name,surname
FROM profiling.users
 WHERE 1=1 
AND (id = @id OR @id IS NULL) 
AND (id_profile = @id_profile OR @id_profile IS NULL) 
AND (username = @username OR @username IS NULL) 
AND (password = @password OR @password IS NULL) 
AND (email = @email OR @email IS NULL) 
AND (cube_code = @cube_code OR @cube_code IS NULL) 
AND (name = @name OR @name IS NULL) 
AND (surname = @surname OR @surname IS NULL) 
AND _deleted = 0 
ORDER BY id ASC 
END

ELSE IF @@ACTION = 'INSERT' BEGIN
INSERT INTO [profiling].[users] (id_profile,username,password,email,cube_code,name,surname) 
OUTPUT INSERTED.id
VALUES (@id_profile,@username,@password,@email,@cube_code,@name,@surname)
END

ELSE IF @@ACTION = 'UPDATE' BEGIN
UPDATE [profiling].[users] SET 
id_profile = @id_profile,
username = @username,
password = @password,
email = @email,
cube_code = @cube_code,
name = @name,
surname = @surname
OUTPUT INSERTED.id
WHERE profiling.users.id = @id
END 

ELSE IF @@ACTION = 'DELETE' AND @@PHYSICAL = 0 BEGIN
UPDATE [profiling].[users] SET _deleted = 1 
OUTPUT INSERTED.id
WHERE profiling.users.id = @id
END 

ELSE IF @@ACTION = 'DELETE' AND @@PHYSICAL = 1 BEGIN
DELETE FROM [profiling].[users] 
OUTPUT DELETED.id
WHERE profiling.users.id= @id
END 

END
GO
/****** Object:  StoredProcedure [edijson].[profiling_accounts]    Script Date: 11/19/2013 00:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [edijson].[profiling_accounts] 
@@ACTION varchar(10) = NULL,
@profile varchar(50) = NULL,
@id int = NULL,
@id_profile int = NULL,
@username varchar(50) = NULL,
@password varchar(50) = NULL,
@email varchar(150) = NULL,
@cube_code int = NULL,
@name varchar(200) = NULL,
@surname varchar(200) = NULL
AS BEGIN 
SET NOCOUNT ON; 

IF @@ACTION = 'SELECT' BEGIN
SELECT 
profile,id,id_profile,username,password,email,cube_code,name,surname
FROM profiling.accounts
 WHERE 1=1 
AND (profile = @profile OR @profile IS NULL) 
AND (id = @id OR @id IS NULL) 
AND (id_profile = @id_profile OR @id_profile IS NULL) 
AND (username = @username OR @username IS NULL) 
AND (password = @password OR @password IS NULL) 
AND (email = @email OR @email IS NULL) 
AND (cube_code = @cube_code OR @cube_code IS NULL) 
AND (name = @name OR @name IS NULL) 
AND (surname = @surname OR @surname IS NULL) 
ORDER BY id ASC 
END

END
GO
/****** Object:  Default [DF_groups__deleted]    Script Date: 11/19/2013 00:22:41 ******/
ALTER TABLE [profiling].[profiles] ADD  CONSTRAINT [DF_groups__deleted]  DEFAULT ((0)) FOR [_deleted]
GO
/****** Object:  Default [DF_shipments_insertdate]    Script Date: 11/19/2013 00:22:41 ******/
ALTER TABLE [tracking].[shipments] ADD  CONSTRAINT [DF_shipments_insertdate]  DEFAULT (getdate()) FOR [insert_date]
GO
/****** Object:  Default [DF_shipments__deleted]    Script Date: 11/19/2013 00:22:41 ******/
ALTER TABLE [tracking].[shipments] ADD  CONSTRAINT [DF_shipments__deleted]  DEFAULT ((0)) FOR [_deleted]
GO
/****** Object:  Default [DF_users__deleted]    Script Date: 11/19/2013 00:22:41 ******/
ALTER TABLE [profiling].[users] ADD  CONSTRAINT [DF_users__deleted]  DEFAULT ((0)) FOR [_deleted]
GO
/****** Object:  ForeignKey [FK_users_profiles]    Script Date: 11/19/2013 00:22:41 ******/
ALTER TABLE [profiling].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_profiles] FOREIGN KEY([id_profile])
REFERENCES [profiling].[profiles] ([id])
GO
ALTER TABLE [profiling].[users] CHECK CONSTRAINT [FK_users_profiles]
GO
